@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fira+Sans&family=Metal+Mania&family=Overpass&family=Prompt&family=Spinnaker&display=swap');

:root {
    --title-font: 'Metal Mania', cursive;
    --header-font: 'Fira Sans', sans-serif;
    --common-font: 'Prompt', sans-serif;
    --light: #D4CEBD;
    --dark: #171718;
    --primary-color: #F09D51;
    --secondary-color: #F06543 ;
    --light-alternative: #EBEAE8;
  }

  [data-theme="dark"] {
    --title-font: 'Chewy', cursive;
    --header-font: 'Spinnaker', sans-serif;
    --common-font: 'Overpass', sans-serif;
    --light: #EFF7F6;
    --dark: #EC3F95;
    --primary-color: #F7D6E0;
    --secondary-color: #14AECC ;
    --light-alternative: #B2F7EF;
  }
