@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fira+Sans&family=Metal+Mania&family=Overpass&family=Prompt&family=Spinnaker&display=swap');

:root {
    --title-font: 'Metal Mania', cursive;
    --header-font: 'Fira Sans', sans-serif;
    --common-font: 'Prompt', sans-serif;
    --light: #D4CEBD;
    --dark: #171718;
    --primary-color: #F09D51;
    --secondary-color: #F06543 ;
    --light-alternative: #EBEAE8;
  }

  [data-theme="kawaii"] {
    --title-font: 'Chewy', cursive;
    --header-font: 'Spinnaker', sans-serif;
    --common-font: 'Overpass', sans-serif;
    --light: #EFF7F6;
    --dark: #EC3F95;
    --primary-color: #F7D6E0;
    --secondary-color: #14AECC ;
    --light-alternative: #B2F7EF;
  }

body {
    margin: 0;
    width: 100%;
    height: auto;
    background-color: var(--light);
}

.headband {
  display:flex;
  justify-content: center;
  font-family: var(--title-font);
  color: var(--light-alternative);
  font-size: 5vw;
  background-image: url(https://www.nonfiction.fr/prximgsrv/crp/790/469/x/repo/e/6/e652a236046f0f3876653625ec5861ec-0.jpg);
  background-position: center;
  padding: 15vw 0vw 15vw 0vw;
  background-repeat: no-repeat;
  background-size: 100vw; 
  background-color: var(--dark);
}
